/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
     background-color: #BFFCFB;
 }
 @font-face {
     font-family: mpo;
     src: url(font/MochiyPopOne-Regular.ttf);
 }

 .nav-bar{
     display: inline;
 }

 .nav-bar-list{
     display: flex;
     justify-content: space-between;
     list-style-type: none;
 }

 .nav-bar-list a{
     font-size: 20px;
     color: black;
     font-family: mpo;
     text-decoration: none;
     
 }

 a.hover{
     background-color: #FF8749;
 }

 .quote{
     font-family: mpo;
     font-size: 20px;
 }

 .quoteSpeaker{
    font-family: mpo;
    font-size: 15px;
    color: #008080;
 }

 .donorNewsText{
    font-family: mpo;
    font-size: 40px;
 }
.itemImage{
    width: 100%;
    height: 100%;
}
.newsTitle{
    color: #FF8749;
    font-family: mpo;
}

.newsDescr{
    font-family: mpo;

}